{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block topbar %} {{ parent() }} {% endblock %}
{% block body %}

    <div class="ui card" style="margin: 175px; margin-top: 75px">
        <div class="image">
            <img src="{{ asset('img/diego_moto.jpg') }}">
        </div>
        <div class="content">
            <a class="header" href="http://www.github.com/riera90">Diego Rodríguez Riera</a>
            <div class="meta">
                <span class="date">born in 1998</span>
            </div>
            <div class="description">
                Backend developer
            </div>
        </div>
        <div class="extra content">
            <p>
                <i class="code icon"></i>
                C, C++, PHP, Python, Makefile, Git
            </p>
        </div>
    </div>

    <div class="ui raised segment" style="fixed; position:absolute ;left: 500px; top: 60px; right: 200px; height: 430px; background: black">
        <p></p>{#for filling the first line#}
        {% if lines %}
            {% for line in lines %}
                <p style="color: lime; margin-top: -16px">
                    {{ line }}<br>
                </p>
            {% endfor %}
        {% else %}
            <span style="color: lime; margin-top: -10px" class="">
                error 500 please contact the webmaster at <a href="http://www.github.com/riera90/my-website">github</a> and open an isue
            </span>
        {% endif %}

        <p style="color: lime; fixed; position: absolute; top:393px; left: 15px;">
            diego@gamma $
        </p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <div class="ui transparent input" style="fixed; position:absolute; top: 393px; left: 123px; right: 90px;">
            <input placeholder="enter your command" style="color:lime" type="text">
        </div>
    </div>

{% endblock %}
