{% extends 'base.html.twig' %}
{% block title %}homepage{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block topbar %} {{ parent() }} {% endblock %}
{% block body %}

    <div class="ui secondary pointing menu fixed sticky">
        <a class="item" href="{{ path('about') }}">
            About me
        </a>
        <a class="item active" href="{{ path('contact') }}">
            Contact me
        </a>
        <a class="item" href="{{ path('projects') }}">
            My projects
        </a>
        <a class="item" href="{{ path('resume') }}">
            Resume
        </a>
        <div class="right menu">
            <a href="http://github.com/riera90" style="margin-left: 10px; margin-top: 5px;">
                <i class="big github black link icon"></i>
            </a>

            <a href="https://www.linkedin.com/in/riera90/" style="margin-left: 15px; margin-top: 5px; margin-right: 30px;">
                <i class="big linkedin black link icon"></i>
            </a>
        </div>
    </div>







{% endblock %}
